<div class="premium-card-border">
  <div class="border-overlay"></div>

  <div class="image" [style.backgroundImage]="'url(' + imageSrc + ')'"></div>

  <div class="content">
    <div class="icon" *ngIf="icon">
      <i [class]="icon"></i>
    </div>
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>

    <ng-template [ngIf]="!premiumButton">
      <app-button [title]="buttonText" [palette]="buttonPalette" [size]="buttonSize" [icon]="buttonIcon"
        [iconPosition]="buttonIconPosition" [fullWidth]="buttonFullWidth"></app-button>
    </ng-template>

    <ng-template [ngIf]="premiumButton">
      <app-premium-button [title]="buttonText" [palette]="buttonPalette" [size]="buttonSize" [icon]="buttonIcon"
        [iconPosition]="buttonIconPosition" [fullWidth]="buttonFullWidth"></app-premium-button>
    </ng-template>
  </div>
</div>