<div class="premium-card-glow">
  <div class="glow-border"></div>

  <div class="image" [style.backgroundImage]="'url(' + imageSrc + ')'"></div>

  <div class="content">
    <div class="icon" *ngIf="icon">
      <i [class]="icon"></i>
    </div>
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>

    <div class="glow-button">
      <ng-template [ngIf]="!premiumButton">
        <app-button [title]="buttonText" [palette]="buttonPalette" [size]="buttonSize" [icon]="buttonIcon"
          [iconPosition]="buttonIconPosition" [fullWidth]="buttonFullWidth"></app-button>
      </ng-template>

      <ng-template [ngIf]="premiumButton">
        <app-premium-button [title]="buttonText" [palette]="buttonPalette" [size]="buttonSize" [icon]="buttonIcon"
          [iconPosition]="buttonIconPosition" [fullWidth]="buttonFullWidth"></app-premium-button>
      </ng-template>
    </div>
  </div>

  <div class="badge">GLOW</div>
</div>