.content {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin: 2rem;

  .content-bg {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background:
      linear-gradient(#565273, #0f172a) padding-box,
      linear-gradient(135deg, #8363a1, #ebebeb) border-box;
    opacity: 0.9;
    filter: blur(1.5px);
    z-index: 0;
  }

  .content-inner {
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    max-height: 90vh;
    overflow: overlay;
    scrollbar-width: 1px;
    border-radius: 12px;

    &::-webkit-scrollbar {
      display: visible;
      width: 3px;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 6px;
    }

    app-sidebar {
      width: 25vw;
      min-width: 240px;
      max-width: 320px;
      flex-shrink: 0;
    }

    .main-content {
      flex: 1;
      display: flex;
      justify-content: center;
      padding: 2rem;
      position: relative;
    }
  }
}