.sidebar {
    // width: 240px;
    // background: #0f0f1c;
    // height: 100vh;
    // padding: 1rem;
    // box-shadow: 0 0 20px #00000080;
    // color: #fff;
    // font-family: Segoe UI, sans-serif;
    // z-index: 1;
    position: fixed;
    width: 240px;
    height: 85.5vh;
    background: #0f0f1c;
    padding: 1rem;
    color: #fff;
    box-shadow: 0 0 20px #00000080;
    z-index: 10;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 0.75rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 0.5rem;

      i {
        font-size: 1.2rem;
      }

      &:hover, &.active {
        background: linear-gradient(90deg, #6366f1, #a855f7);
        color: #fff;
        transform: scale(1.05);
        box-shadow: 0 0 10px #a855f7;
      }
    }
  }
}
